In [ ]:
!pip install fuzzywuzzy

In [4]:
import pandas as pd
from fuzzywuzzy import fuzz
from fuzzywuzzy import process

In [5]:
# hot_loc2 = pd.read_excel('Hotel Location Table 2.xlsx')
# hot_loc2.head()
scraped= pd.read_csv('Hotel Location Table Mapping.csv',encoding='latin1')
hotels=pd.read_csv('Hotel Location.csv',encoding='latin1')
old=pd.read_csv('old.csv',encoding='latin1')
pivot=pd.read_csv('pivot.csv',encoding='latin1')

In [12]:
hot_loc = pd.read_excel('Hotel Location.xlsx')
hot_loc.head()

,Name,Address1,Address2,City,StateProvince,PostalCode,Country,Latitude,Longitude,AirportCode,PropertyCurrency,StarRating,Location
0,41,41 Buckingham Palace Road,NaN,London,NaN,SW1W 0PS,GB,51.49830,-0.14372,LHR,GBP,5.0,Near Buckingham Palace
1,#2 Andrews – Port Douglas,#2 Andrews Close,NaN,Port Douglas,QL,4877,AU,-16.51689,145.46770,CNS,AUD,5.0,Near Four Mile Beach Park
2,#2 Hastings Street,2 Hastings Street,NaN,Noosa Heads,QL,4567,AU,-26.38616,153.08722,MCY,AUD,4.0,In Noosa Heads (Noosa)
3,.Com,Albena,NaN,Albena,NaN,9620,BG,43.37024,28.07389,VAR,EUR,3.0,In Albena
4,?The Dunstane,4 West Coates & 5 Hampton Terrace,Haymarket,Edinburgh,NaN,EH12 5JQ,GB,55.94571,-3.22880,EDI,GBP,4.0,Near Murrayfield Stadium

In [60]:
hot_map.isna().sum()

scraped_url        0
agency_slug        0
country          387
title              0
description     3109
inclusions      1495
hotel_name      3855
hotel_mapped    8379
dtype: int64

In [6]:
names = list(hotels['Name'])

In [9]:
process.extract('Azuri Residences', names)

[('SIDE', 90),
 ('47 Park Street - Grand Residences by Marriott', 86),
 ('51 Buckingham Gate, Taj Suites and Residences', 86),
 ('8 on Claymore Serviced Residences', 86),
 ('93 Luxury Suites & Residences', 86)]

In [64]:
process.extract('Kruger Park Splendou', 'Your Kruger National Park Holiday Package includes Return flightsJohannesburg to Nelspruit Approximate taxes days car hire Kia Picanto  similar nights midweek accommodation just outside the Kruger National Park at the 4-star Protea Hotel by Marriott Kruger Gate  a Standard Room Breakfast daily')

[('o', 60), ('u', 60), ('r', 60), ('K', 60), ('r', 60)]

In [13]:
hot_map = pd.read_excel('Hotel Location Table Mapping.xlsx')
hot_map.head()

,scraped_url,agency_slug,country,title,description,inclusions,hotel_name,hotel_mapped
0,https://www.flightcentre.co.za/product/14197346,flightcentre,maldives,Adaaran Select Meedhupparu,\nYour Maldives Holiday Package includes:\nRet...,\nYour Maldives Holiday Package includes:\n\nR...,NaN,NaN
1,https://www.flightcentre.co.za/product/5415249,flightcentre,south africa,Family Fun on the Wild Coast,\nYour Eastern Cape Holiday Package includes:\...,\nYour Eastern Cape Holiday Package includes:\...,NaN,NaN
2,https://www.flightcentre.co.za/product/16385011,flightcentre,mauritius,Azuri Residences by Life in Blue,\nYour Mauritius Holiday Package includes:\nRe...,\nYour Mauritius Holiday Package includes:\n\n...,NaN,NaN
3,https://www.flightcentre.co.za/product/16323810,flightcentre,mauritius,Seas the Day in Mauritius,\nYour Mauritius Holiday Package includes:\nRe...,\nYour Mauritius Holiday Package includes:\n\n...,NaN,NaN
4,https://www.flightcentre.co.za/product/13250621,flightcentre,south africa,Kruger Park Splendour,\nYour Kruger National Park Holiday Package in...,\nYour Kruger National Park Holiday Package in...,NaN,NaN

In [62]:
print(list(hot_map['inclusions'])[4])

Your Kruger National Park Holiday Package includes:

Return flights from Johannesburg to Nelspruit
Approximate taxes
2 days car hire (Kia Picanto or similar)
2 nights' midweek accommodation just outside the Kruger National Park at the 4-star Protea Hotel by Marriott Kruger Gate in a Standard Room
Breakfast daily

In [ ]:
def remove_punctuation(post):
    return ''.join([l for l in post if l not in string.punctuation])

In [ ]:
all_mbti['post'] = all_mbti['post'].apply(remove_punctuation)
all_mbti['post'].iloc[268558]

In [49]:
hot_map.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8379 entries, 0 to 8378
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   scraped_url   8379 non-null   object
 1   agency_slug   8379 non-null   object
 2   country       7992 non-null   object
 3   title         8379 non-null   object
 4   description   5270 non-null   object
 5   inclusions    6884 non-null   object
 6   hotel_name    4524 non-null   object
 7   hotel_mapped  0 non-null      float64
dtypes: float64(1), object(7)
memory usage: 523.8+ KB

In [47]:
def find_name(query, choices):
    return  process.extractOne(query, choices)[0]

In [48]:
hot_map['hotel_name'] = hot_map['hotel_name'].apply(find_name(hot_map['title'], names))

TypeError: expected string or bytes-like object

In [46]:
hot_map['hotel_name'] = process.extractOne(hot_map['title'], names)[0]

TypeError: expected string or bytes-like object

In [14]:
old = pd.read_excel('old.xlsx')
old.head()

,scraped_url,agency_name,title,inclusions,description,hotel_name,hotel_mapped,lat,long
0,https://www.bushbreaks.co.za/listing/tintswalo...,Bush Breaks,Tintswalo at Lapalala Wilderness,NaN,NaN,NaN,NaN,NaN,NaN
1,https://www.flightcentre.co.za/product/14135464,Flightcentre,Anantara Bazaruto Island Resort & Spa,\nYour Mozambique Holiday Package includes:\n\...,\nYour Mozambique Holiday Package includes:\nR...,NaN,NaN,NaN,NaN
2,https://www.flightcentre.co.za/product/13284532,Flightcentre,Kruger Park Splendour,\nYour Kruger National Park Holiday Package in...,\nYour Kruger National Park Holiday Package in...,NaN,NaN,NaN,NaN
3,https://www.flightcentre.co.za/product/5415250,Flightcentre,Family Fun on the Wild Coast,\nYour Eastern Cape Holiday Package includes:\...,\nYour Eastern Cape Holiday Package includes:\...,NaN,NaN,NaN,NaN
4,https://www.flightcentre.co.za/product/15893622,Flightcentre,Kruger Park Splendour,\nYour Kruger National Park Holiday Package in...,\nYour Kruger National Park Holiday Package in...,NaN,NaN,NaN,NaN

In [15]:
pivot = pd.read_excel('pivot.xlsx')
pivot.head()

                                           HotelName  Hotel_mapping  lat  long
0           2 nights free at long beach a sun resort            NaN  NaN   NaN
1  2 nights radisson red rosebank and art walking...            NaN  NaN   NaN
2                   26 degrees south bush boho hotel            NaN  NaN   NaN
3                             26 degrees south hotel            NaN  NaN   NaN
4                                 3-star beach hotel            NaN  NaN   NaN

In [25]:
import re

s = 'aaa-AAA-123'

if 'aaa' is in s:
    print(s)
else:
    print(None)

SyntaxError: invalid syntax (2824052642.py, line 5)

In [29]:
from fuzzywuzzy import fuzz
from fuzzywuzzy import process

In [40]:
list_a = ['aaa-AAA-123', 'aa-bb']
process.extractOne('aaa', list_a)[0]

'aaa-AAA-123'

In [37]:
process.extractOne(query, choices)

NameError: name 'query' is not defined