**Web Scraping Using selenium**

In [61]:
from selenium import webdriver
from selenium.webdriver.support.ui import Select


from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.by import By

import time


# driver = webdriver.Chrome(ChromeDriverManager().install())

# driver.get("http://www.python.org")
# import time

# driver.close()

In [60]:
website = 'https://www.adamchoi.co.uk/teamgoals/detailed'
#driver = webdriver.Chrome(ChromeDriverManager().install())
from selenium import webdriver


path ='C:/Users/user/Downloads/chromedriver_win32/chromedriver' 
driver = webdriver.Chrome(path)

driver.get(website)

C:\Users\user\AppData\Local\Temp\ipykernel_7124\885671551.py:7: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(path)

*create xpath* 

     //tagname[@AttributeName="value"]
         
     ie.
     
     //label[@analytics-event="All matches"]
     
locate element using element


You can use By with:
    
    
    driver.find_element(By.XPATH, " ")
    driver.find_elements(By.XPATH, " ")

    driver.find_element(By.CLASS_NAME, " ")
    driver.find_elements(By.CLASS_NAME, " ")

In [38]:
#all_matches_button = driver.find_element_by_xpath('//label[@analytics-event="All matches"]')
all_matches_button=driver.find_element(By.XPATH,'//label[@analytics-event="All matches"]')

Clicking on the button using selenium

In [40]:
all_matches_button.click()

**Extracting data from a table using  selenium**

Most times Tables uses tagnames that are tr or td,,represents rows and the data inside the rows.
To locate muktiple elements with the same tag name or class name use **find_elements** instead of **find_element**. When you use find_elements you get a list and in most cases we also have to loop through it to get the data inside the list.

In [44]:
matches = driver.find_elements(By.TAG_NAME,'tr')

In [46]:
for match in matches:
    print(match.text)

05-08-2022 Crystal Palace 0 - 2 Arsenal
13-08-2022 Arsenal 4 - 2 Leicester
20-08-2022 Bournemouth 0 - 3 Arsenal
27-08-2022 Arsenal 2 - 1 Fulham
31-08-2022 Arsenal 2 - 1 Aston Villa
04-09-2022 Man United 3 - 1 Arsenal
18-09-2022 Brentford 0 - 3 Arsenal
01-10-2022 Arsenal ? - ? Tottenham
06-08-2022 Bournemouth 2 - 0 Aston Villa
13-08-2022 Aston Villa 2 - 1 Everton
20-08-2022 Crystal Palace 3 - 1 Aston Villa
28-08-2022 Aston Villa 0 - 1 West Ham
31-08-2022 Arsenal 2 - 1 Aston Villa
03-09-2022 Aston Villa 1 - 1 Man City
16-09-2022 Aston Villa 1 - 0 Southampton
02-10-2022 Leeds ? - ? Aston Villa
06-08-2022 Bournemouth 2 - 0 Aston Villa
13-08-2022 Man City 4 - 0 Bournemouth
20-08-2022 Bournemouth 0 - 3 Arsenal
27-08-2022 Liverpool 9 - 0 Bournemouth
31-08-2022 Bournemouth 0 - 0 Wolves
03-09-2022 Nott'm Forest 2 - 3 Bournemouth
17-09-2022 Newcastle 1 - 1 Bournemouth
01-10-2022 Bournemouth ? - ? Brentford
07-08-2022 Leicester 2 - 2 Brentford
13-08-2022 Brentford 4 - 0 Man United
20-08-2022 Fulham 3 - 2 Brentford
27-08-2022 Brentford 1 - 1 Everton
30-08-2022 Crystal Palace 1 - 1 Brentford
03-09-2022 Brentford 5 - 2 Leeds
18-09-2022 Brentford 0 - 3 Arsenal
01-10-2022 Bournemouth ? - ? Brentford
07-08-2022 Man United 1 - 2 Brighton
13-08-2022 Brighton 0 - 0 Newcastle
21-08-2022 West Ham 0 - 2 Brighton
27-08-2022 Brighton 1 - 0 Leeds
30-08-2022 Fulham 2 - 1 Brighton
04-09-2022 Brighton 5 - 2 Leicester
01-10-2022 Liverpool ? - ? Brighton
06-08-2022 Everton 0 - 1 Chelsea
14-08-2022 Chelsea 2 - 2 Tottenham
21-08-2022 Leeds 3 - 0 Chelsea
27-08-2022 Chelsea 2 - 1 Leicester
30-08-2022 Southampton 2 - 1 Chelsea
03-09-2022 Chelsea 2 - 1 West Ham
01-10-2022 Crystal Palace ? - ? Chelsea
05-08-2022 Crystal Palace 0 - 2 Arsenal
15-08-2022 Liverpool 1 - 1 Crystal Palace
20-08-2022 Crystal Palace 3 - 1 Aston Villa
27-08-2022 Man City 4 - 2 Crystal Palace
30-08-2022 Crystal Palace 1 - 1 Brentford
03-09-2022 Newcastle 0 - 0 Crystal Palace
01-10-2022 Crystal Palace ? - ? Chelsea
06-08-2022 Everton 0 - 1 Chelsea
13-08-2022 Aston Villa 2 - 1 Everton
20-08-2022 Everton 1 - 1 Nott'm Forest
27-08-2022 Brentford 1 - 1 Everton
30-08-2022 Leeds 1 - 1 Everton
03-09-2022 Everton 0 - 0 Liverpool
18-09-2022 Everton 1 - 0 West Ham
01-10-2022 Southampton ? - ? Everton
06-08-2022 Fulham 2 - 2 Liverpool
13-08-2022 Wolves 0 - 0 Fulham
20-08-2022 Fulham 3 - 2 Brentford
27-08-2022 Arsenal 2 - 1 Fulham
30-08-2022 Fulham 2 - 1 Brighton
03-09-2022 Tottenham 2 - 1 Fulham
16-09-2022 Nott'm Forest 2 - 3 Fulham
01-10-2022 Fulham ? - ? Newcastle
06-08-2022 Leeds 2 - 1 Wolves
13-08-2022 Southampton 2 - 2 Leeds
21-08-2022 Leeds 3 - 0 Chelsea
27-08-2022 Brighton 1 - 0 Leeds
30-08-2022 Leeds 1 - 1 Everton
03-09-2022 Brentford 5 - 2 Leeds
02-10-2022 Leeds ? - ? Aston Villa
07-08-2022 Leicester 2 - 2 Brentford
13-08-2022 Arsenal 4 - 2 Leicester
20-08-2022 Leicester 1 - 2 Southampton
27-08-2022 Chelsea 2 - 1 Leicester
01-09-2022 Leicester 0 - 1 Man United
04-09-2022 Brighton 5 - 2 Leicester
17-09-2022 Tottenham 6 - 2 Leicester
06-08-2022 Fulham 2 - 2 Liverpool
15-08-2022 Liverpool 1 - 1 Crystal Palace
22-08-2022 Man United 2 - 1 Liverpool
27-08-2022 Liverpool 9 - 0 Bournemouth
31-08-2022 Liverpool 2 - 1 Newcastle
03-09-2022 Everton 0 - 0 Liverpool
01-10-2022 Liverpool ? - ? Brighton
07-08-2022 West Ham 0 - 2 Man City
13-08-2022 Man City 4 - 0 Bournemouth
21-08-2022 Newcastle 3 - 3 Man City
27-08-2022 Man City 4 - 2 Crystal Palace
31-08-2022 Man City 6 - 0 Nott'm Forest
03-09-2022 Aston Villa 1 - 1 Man City
17-09-2022 Wolves 0 - 3 Man City
02-10-2022 Man City ? - ? Man United
07-08-2022 Man United 1 - 2 Brighton
13-08-2022 Brentford 4 - 0 Man United
22-08-2022 Man United 2 - 1 Liverpool
27-08-2022 Southampton 0 - 1 Man United
01-09-2022 Leicester 0 - 1 Man United
04-09-2022 Man United 3 - 1 Arsenal
02-10-2022 Man City ? - ? Man United
06-08-2022 Newcastle 2 - 0 Nott'm Forest
13-08-2022 Brighton 0 - 0 Newcastle
21-08-2022 Newcastle 3 - 3 Man City
28-08-2022 Wolves 1 - 1 Newcastle
31-08-2022 Liverpool 2 - 1 Newcastle
03-09-2022 Newcastle 0 - 0 Crystal Palace
17-09-2022 Newcastle 1 - 1 Bournemouth
01-10-2022 Fulham ? - ? Newcastle
06-08-2022 Newcastle 2 - 0 Nott'm Forest
14-08-2022 Nott'm Forest 1 - 0 West Ham
20-08-2022 Everton 1 - 1 Nott'm Forest
28-08-2022 Nott'm Forest 0 - 2 Tottenham
31-08-2022 Man City 6 - 0 Nott'm Forest
03-09-2022 Nott'm Forest 2 - 3 Bournemouth
16-09-2022 Nott'm Forest 2 - 3 Fulham
06-08-2022 Tottenham 4 - 1 Southampton
13-08-2022 Southampton 2 - 2 Leeds
20-08-2022 Leicester 1 - 2 Southampton
27-08-2022 Southampton 0 - 1 Man United
30-08-2022 Southampton 2 - 1 Chelsea
03-09-2022 Wolves 1 - 0 Southampton
16-09-2022 Aston Villa 1 - 0 Southampton
01-10-2022 Southampton ? - ? Everton
06-08-2022 Tottenham 4 - 1 Southampton
14-08-2022 Chelsea 2 - 2 Tottenham
20-08-2022 Tottenham 1 - 0 Wolves
28-08-2022 Nott'm Forest 0 - 2 Tottenham
31-08-2022 West Ham 1 - 1 Tottenham
03-09-2022 Tottenham 2 - 1 Fulham
17-09-2022 Tottenham 6 - 2 Leicester
01-10-2022 Arsenal ? - ? Tottenham
07-08-2022 West Ham 0 - 2 Man City
14-08-2022 Nott'm Forest 1 - 0 West Ham
21-08-2022 West Ham 0 - 2 Brighton
28-08-2022 Aston Villa 0 - 1 West Ham
31-08-2022 West Ham 1 - 1 Tottenham
03-09-2022 Chelsea 2 - 1 West Ham
18-09-2022 Everton 1 - 0 West Ham
01-10-2022 West Ham ? - ? Wolves
06-08-2022 Leeds 2 - 1 Wolves
13-08-2022 Wolves 0 - 0 Fulham
20-08-2022 Tottenham 1 - 0 Wolves
28-08-2022 Wolves 1 - 1 Newcastle
31-08-2022 Bournemouth 0 - 0 Wolves
03-09-2022 Wolves 1 - 0 Southampton
17-09-2022 Wolves 0 - 3 Man City
01-10-2022 West Ham ? - ? Wolves

**To store each data inside a variable instead of a single variable**

 Each tag name *tr* has 4 *td*s representing each column.Eg to get only the date, use the xpath:
 
           //tr/td[1]
           since its in the first column

In [47]:
date = []
home_team = []
score = []
date = []
away_team = []

for match in matches:
    date.append(match.find_element(By.XPATH,'./td[1]').text)
    home_team.append(match.find_element(By.XPATH,'./td[2]').text)
    score.append(match.find_element(By.XPATH,'./td[3]').text)
    away_team.append(match.find_element(By.XPATH,'./td[4]').text) 
    home=match.find_element(By.XPATH,'./td[2]').text



    
    print(home)

Crystal Palace
Arsenal
Bournemouth
Arsenal
Arsenal
Man United
Brentford
Arsenal
Bournemouth
Aston Villa
Crystal Palace
Aston Villa
Arsenal
Aston Villa
Aston Villa
Leeds
Bournemouth
Man City
Bournemouth
Liverpool
Bournemouth
Nott'm Forest
Newcastle
Bournemouth
Leicester
Brentford
Fulham
Brentford
Crystal Palace
Brentford
Brentford
Bournemouth
Man United
Brighton
West Ham
Brighton
Fulham
Brighton
Liverpool
Everton
Chelsea
Leeds
Chelsea
Southampton
Chelsea
Crystal Palace
Crystal Palace
Liverpool
Crystal Palace
Man City
Crystal Palace
Newcastle
Crystal Palace
Everton
Aston Villa
Everton
Brentford
Leeds
Everton
Everton
Southampton
Fulham
Wolves
Fulham
Arsenal
Fulham
Tottenham
Nott'm Forest
Fulham
Leeds
Southampton
Leeds
Brighton
Leeds
Brentford
Leeds
Leicester
Arsenal
Leicester
Chelsea
Leicester
Brighton
Tottenham
Fulham
Liverpool
Man United
Liverpool
Liverpool
Everton
Liverpool
West Ham
Man City
Newcastle
Man City
Man City
Aston Villa
Wolves
Man City
Man United
Brentford
Man United
Southampton
Leicester
Man United
Man City
Newcastle
Brighton
Newcastle
Wolves
Liverpool
Newcastle
Newcastle
Fulham
Newcastle
Nott'm Forest
Everton
Nott'm Forest
Man City
Nott'm Forest
Nott'm Forest
Tottenham
Southampton
Leicester
Southampton
Southampton
Wolves
Aston Villa
Southampton
Tottenham
Chelsea
Tottenham
Nott'm Forest
West Ham
Tottenham
Tottenham
Arsenal
West Ham
Nott'm Forest
West Ham
Aston Villa
West Ham
Chelsea
Everton
West Ham
Leeds
Wolves
Tottenham
Wolves
Bournemouth
Wolves
Wolves
West Ham

**Export data to pandas df**

In [49]:
import pandas as pd

In [52]:
df =pd.DataFrame({'date':date,'home_team':home_team,'score': score,' away_team': away_team})

In [56]:
df.to_csv('matches.csv',index=False)

In [57]:
df

           date       home_team  score    away_team
0    05-08-2022  Crystal Palace  0 - 2      Arsenal
1    13-08-2022         Arsenal  4 - 2    Leicester
2    20-08-2022     Bournemouth  0 - 3      Arsenal
3    27-08-2022         Arsenal  2 - 1       Fulham
4    31-08-2022         Arsenal  2 - 1  Aston Villa
..          ...             ...    ...          ...
147  28-08-2022          Wolves  1 - 1    Newcastle
148  31-08-2022     Bournemouth  0 - 0       Wolves
149  03-09-2022          Wolves  1 - 0  Southampton
150  17-09-2022          Wolves  0 - 3     Man City
151  01-10-2022        West Ham  ? - ?       Wolves

[152 rows x 4 columns]

In [58]:
driver.quit()

**Selecting elements in Drop downs**

The type of drop down here is a dynamic drop down,Ie.the link doesnt change only the content changes.
We can use weights when the website takes long to load ie.*Use the sleep method*  **time.sleep()**

In [68]:
dropdown = Select(driver.find_element(By.ID,'country'))

#Choosing spain element from the dropdown
"""You can select by index,value or visible text"""
dropdown.select_by_visible_text('Spain')
time.sleep(3)

In [69]:
#all_matches_button = driver.find_element_by_xpath('//label[@analytics-event="All matches"]')
all_matches_button=driver.find_element(By.XPATH,'//label[@analytics-event="All matches"]')
all_matches_button.click()

matches = driver.find_elements(By.TAG_NAME,'tr')

In [70]:
date = []
home_team = []
score = []
date = []
away_team = []

for match in matches:
    date.append(match.find_element(By.XPATH,'./td[1]').text)
    home_team.append(match.find_element(By.XPATH,'./td[2]').text)
    score.append(match.find_element(By.XPATH,'./td[3]').text)
    away_team.append(match.find_element(By.XPATH,'./td[4]').text) 
    home=match.find_element(By.XPATH,'./td[2]').text



    
    print(home)

Almeria
Elche
Almeria
Valladolid
Almeria
Mallorca
Ath Bilbao
Ath Bilbao
Ath Bilbao
Cadiz
Ath Bilbao
Elche
Ath Bilbao
Ath Bilbao
Getafe
Ath Madrid
Valencia
Sociedad
Ath Madrid
Ath Madrid
Sevilla
Barcelona
Sociedad
Barcelona
Sevilla
Cadiz
Barcelona
Mallorca
Betis
Mallorca
Betis
Real Madrid
Betis
Betis
Celta
Cadiz
Osasuna
Cadiz
Celta
Cadiz
Valladolid
Cadiz
Celta
Celta
Girona
Celta
Ath Madrid
Valencia
Celta
Betis
Elche
Elche
Villarreal
Elche
Barcelona
Celta
Espanol
Espanol
Ath Bilbao
Espanol
Sociedad
Espanol
Getafe
Girona
Getafe
Valencia
Getafe
Osasuna
Getafe
Valencia
Girona
Girona
Mallorca
Girona
Betis
Girona
Ath Bilbao
Mallorca
Vallecano
Mallorca
Real Madrid
Mallorca
Mallorca
Osasuna
Osasuna
Betis
Osasuna
Almeria
Osasuna
Real Madrid
Almeria
Celta
Espanol
Real Madrid
Real Madrid
Ath Madrid
Real Madrid
Osasuna
Sevilla
Almeria
Sevilla
Espanol
Villarreal
Sevilla
Cadiz
Sociedad
Elche
Sociedad
Getafe
Sociedad
Girona
Valencia
Ath Bilbao
Valencia
Valencia
Vallecano
Valencia
Espanol
Valladolid
Sevilla
Barcelona
Valladolid
Girona
Valladolid
Getafe
Barcelona
Espanol
Vallecano
Osasuna
Vallecano
Ath Bilbao
Valladolid
Ath Madrid
Getafe
Villarreal
Betis
Villarreal
Cadiz

In [71]:
df2 =pd.DataFrame({'date':date,'home_team':home_team,'score': score,' away_team': away_team})

In [72]:
df2

           date   home_team  score    away_team
0    14-08-2022     Almeria  1 - 2  Real Madrid
1    22-08-2022       Elche  1 - 1      Almeria
2    27-08-2022     Almeria  2 - 1      Sevilla
3    05-09-2022  Valladolid  1 - 0      Almeria
4    12-09-2022     Almeria  0 - 1      Osasuna
..          ...         ...    ...          ...
133  28-08-2022      Getafe  0 - 0   Villarreal
134  04-09-2022  Villarreal  4 - 0        Elche
135  11-09-2022       Betis  1 - 0   Villarreal
136  18-09-2022  Villarreal  1 - 1      Sevilla
137  01-10-2022       Cadiz  ? - ?   Villarreal

[138 rows x 4 columns]